﻿@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<DAFF.Modules.Dnn.DAFF.ReceptValaszto.Models.Recept>>
@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers
@using DAFF.Modules.Dnn.DAFF.ReceptValaszto.Models;
@using System.Web.Mvc;



@{
    ViewBag.Title = "Index";
    var hiba = "Sajnáljuk, de a szolgáltatás jelenleg nem elérhető!";
}

<h2 class="modulcim">A kedvenc receptjeink egy helyen!</h2>
<h2></h2>
<fieldset>
    <table class="tabla">
        <thead>
            <tr>
                <th class="oszlop1">RECEPT NEVE</th>
                <th class="oszlop2">RECEPT LEÍRÁSA</th>
                <th class="oszlop3">HOZZÁVALÓK 1 ADAGHOZ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="recept">Brownie</th>
                <th class="receptleiras">
                    1. Fémtálban, gőzfürdő fölött, folyamatosan kevergetve megolvasztjuk a vajat és a csokit, amíg szép fényes krémet kapunk.
                    <br />2. A tálat levesszük a gőzről, majd egymás után hozzákeverjük a száraz anyagokat: a lisztet, a cukrot, a sütőport és a kakaót.
                    <br />Egyenként hozzáadjuk tojásokat, és elkeverjük a csokis masszában.
                    <br />3. A kész tésztát 5 cm magas, kb. 25x25 cm-es vagy 18x30 cm-es tűzálló edénybe öntjük.
                    <br />4. A sütőt előmelegítjük 180 fokra, és alsó-felső sütésen, kb. 33-35 perc alatt megsütjük a süteményt.
                    <br />A tűpróbánál a beleszúrt hegyes eszközre még kissé rátapad a csokis massza, de ne süssük tovább.
                    <br />5. Kivesszük a sütőből, és hagyjuk a tespiben kihűlni.
                    <br />Egy süteményestálra vegy vágódeszkára helyezve egyforma kockákra vágjuk.
                </th>
                <th class="hozzavalok">
                    1. Vaj &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;25 dkg
                    <br /> 2. Étcsoki &emsp;&emsp;&emsp;&emsp;25dkg
                    <br />3. Liszt &emsp;&emsp;&emsp;&emsp;&emsp;25dkg
                    <br />4. Cukor &emsp;&emsp;&emsp;&emsp;&emsp;25dkg
                    <br />5. Sütőpor &emsp;&emsp;&emsp;&emsp;15g
                    <br />
                    <br />
                    <label>Hány adagot akarsz csinálni?</label>
                    <br />
                    <input type="number" name="mennyit1" id="mennyit1" min="0" value="0" max="10">Adag (Max. 10)
                    @*@Html.TextBox("mennyit1")*@
                    <br />
                    <a class="kosarba1" type="submit" href="@Url.Action("Index","Item")">KOSÁRBA RAKOM</a>
                </th>
            </tr>
            <tr>
                <th class="recept">Palacsinta</th>
                <th class="receptleiras">
                     1. A palacsintatészta elkészítéséhez keverőtálba töltjük a tejet.
                    <br />Hozzáadjuk a tojást, az olajat, a csipet sót, és alaposan összekeverjük. Használhatunk hozzá robotgépet is.
                    <br />2. Hozzámérjük a lisztet, és sűrű, krémszerű tésztát keverünk belőle.
                    <br />Végül hozzáadjuk a szódát, vagy a szénsavas ásványvizet is.
                    <br />3. Nagyon fontos, hogy csomómentesre keverjük a palacsintatésztát.
                    <br />Sütés előtt pihentessük legalább 10-15 percet.
                    <br />4.Az első palacsinta sütése előtt a forró serpenyőbe egy kevés olajat öntünk.
                    <br />Kisebb merőkanálnyi adagot öntünk rá a tésztából.
                    <br />Hagyjuk, elterülni a serpenyőben.
                    <br />A palacsintákat egyenként kisütjük mindkét oldalukon.
                    <br />5. Ízlés szerinti töltelékkel töltjük és feltekerjük, vagy hajtogatjuk. Megszórhatjuk porcukorral is, de nagyon jól illik hozzá a csokoládészósz és a vaníliasodó is.
                </th>
                <th class="hozzavalok">
                    1. Tej &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;3dl
                    <br /> 2. Tojás &emsp;&emsp;&emsp;&emsp;&emsp;2db
                    <br />3. Liszt &emsp;&emsp;&emsp;&emsp;&emsp;25dkg
                    <br />4. Cukor &emsp;&emsp;&emsp;&emsp;&emsp;1dkg
                    <br />5. Sütőpor &emsp;&emsp;&emsp;&emsp;15g
                    <br />
                    <br />
                    <label>Hány adagot akarsz csinálni?</label>
                    <br />
                    <input type="number" name="mennyit2" id="mennyit2" min="0" value="0" max="10">Adag (Max. 10)
                    @*@Html.TextBox("mennyit2")*@
                    <br />
                    <a class="kosarba2" href="@Url.Action("Index","Item")">KOSÁRBA RAKOM</a>
                </th>
            </tr>
            <tr>
                <th class="recept">AMERIKAI SÜTI</th>
                <th class="receptleiras">
                    1. Keverjük össze a lisztet, a sütőport és a sót.
                    <br />2. A vajat habosítsuk ki a cukrokkal, majd adjuk hozzá a tojást és keverjük el benne.
                    <br />3. Végül keverjük bele a lisztkeveréket és fél pingponglabda nagyságúra adagoljuk ki egy sütőpapíros tepsire.
                    <br />4. 175 fokra előmelegített sütőben kb. 8-10 perc alatt süssük meg. Ha kihűltek a kekszek, rögtön ehetjük is.
                    <br />Légmentesen lezárva el is tehetjük.
                </th>
                <th class="hozzavalok">
                    1. Liszt &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;20dkg
                    <br /> 2. Tojás &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;1db
                    <br />3. Étcsoki &emsp;&emsp;&emsp;&emsp;&emsp;20dkg
                    <br />4. Cukor &emsp;&emsp;&emsp;&emsp;&emsp;6dkg
                    <br />5. Sütőpor &emsp;&emsp;&emsp;&emsp;15g
                    <br />
                    <br />
                    <label>Hány adagot akarsz csinálni?</label>
                    <br />
                    <input type="number" name="mennyit3" id="mennyit3" min="0" value="0" max="10">Adag (Max. 10)
                    @*@Html.TextBox("mennyit3")*@
                    <br />
                    <a class="kosarba3" href="@Url.Action("Index","Item")">KOSÁRBA RAKOM</a>


                </th>
            </tr>



        </tbody>
    </table>
</fieldset>




