@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<DAFF.Modules.Dnn.DAFF.ReceptValaszto.Models.Recept>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

@{
    ViewBag.Title = "Index";

}

<h2>Az élet sütis oldala!</h2>
<h2>Válaszd ki a receptet és rendeld meg a hozzávalókat!</h2>
<h2> Ez ilyen egyszerű!</h2>
<div></div>

