﻿@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<DAFF.Modules.Dnn.DAFF.ReceptValaszto.Models.Recept>>
@Model DAFF.Modules.Dnn.DAFF.ReceptValaszto.Models.Recept;
@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


@{
    ViewBag.Title = "Index";
    var rec = ViewBag.ReceptMicsoda;
}

<h2>A kedvenc receptjeink egy helyen!</h2>
<fieldset>
    <table class="sajattb">
        <thead>
            <tr>
                <th>Recept neve</th>
                <th>Recept leírása</th>
                <th>Hozzávalók</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>

        </tbody>
    </table>
</fieldset>




